{% extends 'eventapp/base.html' %}

{% block title %}
Create Event
{% endblock %}

{% block content %}
<h2>Create a New Event</h2>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ event_form.as_p }}

    <h3>Tickets</h3>
    {{ ticket_formset.management_form }}
    {% for form in ticket_formset %}
        <div class="ticket-form">
            {{ form.as_p }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save Event</button>
</form>

{% endblock %}